openapi: 3.0.1
info:
  title: WebRobot ETL API
  description: |
    API for managing projects, jobs, datasets, and ETL pipelines on WebRobot.
    
    ## Authentication
    
    The API uses API Keys for authentication. Include the `X-API-Key` header in all requests.
    
    ## Base URL
    
    - Production: `https://api.webrobot.eu/api`
    - Development: `http://localhost:8020/api`
    
    ## Rate Limiting
    
    Requests are limited to 1000 requests per minute per API key.
  version: 1.0.0
  contact:
    name: WebRobot Support
    email: support@webrobot.eu
  license:
    name: Proprietary
    url: https://webrobot.eu

servers:
  - url: https://api.webrobot.eu/api
    description: Production
  - url: http://localhost:8020/api
    description: Local development

security:
  - ApiKeyAuth: []

paths:
  /webrobot/cloud/scheduler/cronjobs:
    get:
      tags:
        - Cloud
        - Scheduler
      summary: List all Kubernetes CronJobs
      description: |
        Returns the list of all CronJobs configured in the Kubernetes cluster.
        
        CronJobs are used to schedule periodic execution of Spark jobs.
      operationId: listCronJobs
      parameters:
      - name: namespace
        in: query
        description: Kubernetes namespace to filter (optional)
        schema:
          type: string
          example: "webrobot"
      responses:
        '200':
          description: List of CronJobs retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Cloud
        - Scheduler
      summary: Create a new Kubernetes CronJob
      description: |
        Creates a new Kubernetes CronJob to schedule periodic execution of a Spark job.
        
        The CronJob will execute the job according to the specified schedule (cron format).
      operationId: createCronJob
      requestBody:
        required: true
        description: Configuration of the CronJob to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CronJobRequest'
      responses:
        '201':
          description: CronJob created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/cloud/scheduler/cronjobs/{name}:
    get:
      tags:
        - Cloud
        - Scheduler
      summary: Get a specific CronJob
      description: |
        Returns the details of a specific Kubernetes CronJob.
      operationId: getCronJob
      parameters:
      - name: name
        in: path
        required: true
        description: CronJob name
        schema:
          type: string
          example: "daily-etl-job"
      - name: namespace
        in: query
        description: Kubernetes namespace (optional)
        schema:
          type: string
          example: "webrobot"
      responses:
        '200':
          description: CronJob details
          content:
            application/json:
              schema:
                type: object
        '404':
          description: CronJob not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Cloud
        - Scheduler
      summary: Delete a Kubernetes CronJob
      description: |
        Deletes a Kubernetes CronJob and all its scheduled executions.
        
        **Warning:** This operation is irreversible.
      operationId: deleteCronJob
      parameters:
      - name: name
        in: path
        required: true
        description: Name of the CronJob to delete
        schema:
          type: string
          example: "daily-etl-job"
      - name: namespace
        in: query
        description: Kubernetes namespace (optional)
        schema:
          type: string
          example: "webrobot"
      responses:
        '200':
          description: CronJob deleted successfully
          content:
            application/json:
              schema:
                type: object
        '404':
          description: CronJob not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/cloud/spark/capabilities:
    get:
      tags:
        - Cloud
        - Spark
      summary: Get Spark cluster capabilities
      description: |
        Returns information about available capabilities and configurations of the Spark cluster,
        including supported versions, available resources, and configurations.
      operationId: getCapabilities
      responses:
        '200':
          description: Spark cluster capabilities
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/cloud/spark/info:
    get:
      tags:
        - Cloud
        - Spark
      summary: Get Spark cluster information
      description: |
        Returns general information about the Spark cluster, including versions, configurations
        e status of the cluster.
      operationId: getInfo
      responses:
        '200':
          description: Spark cluster information
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/cloud/spark/health:
    get:
      tags:
        - Cloud
        - Spark
        - Health
      summary: Spark service health check
      description: |
        Checks the health status of the Spark service and cluster.
      operationId: healthCheck
      responses:
        '200':
          description: Spark service operational
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "UP"
        '503':
          description: Spark service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/cloud/training/info:
    get:
      tags:
        - Cloud
        - Training
      summary: Get training service information
      description: |
        Returns information about the AI/ML training service, including versions and configurations.
      operationId: getInfo_1
      responses:
        '200':
          description: Training service information
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/cloud/training/health:
    get:
      tags:
        - Cloud
        - Training
        - Health
      summary: Training service health check
      description: |
        Checks the health status of the AI/ML training service.
      operationId: healthCheck_1
      responses:
        '200':
          description: Training service operational
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "UP"
        '503':
          description: Training service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/ean-image-sourcing/{country}/execute:
    post:
      tags:
        - EAN Plugin
        - Jobs
      summary: Execute EAN Image Sourcing job for a country
      description: |
        Executes an EAN Image Sourcing job for the specified country.
        
        This endpoint triggers a Spark job that searches for product images
        based on EAN codes in the dataset for the given country.
      operationId: executeJob
      parameters:
      - name: country
        in: path
        required: true
        description: ISO country code (e.g. "denmark", "italy", "france")
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /webrobot/api/ean-image-sourcing/bootstrap/status:
    get:
      tags:
        - EAN Plugin
        - Bootstrap
      summary: Get bootstrap status
      description: |
        Returns the status of the EAN Image Sourcing bootstrap process.
        
        The bootstrap process initializes the dataset and prepares it for
        image sourcing operations.
      operationId: getBootstrapStatus
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /webrobot/api/ean-image-sourcing/{country}/images:
    post:
      tags:
        - EAN Plugin
        - Images
      summary: Search and retrieve images for EAN products
      description: |
        Searches for images of products identified by EAN codes in the dataset of the specified country.
        
        Returns images with:
        - Full image URL
        - Base64 data (if requested)
        - Similarity schours (0.0 - 1.0)
        - Additional metadata
        
        **Note:**
        - Images are searched in the most recent available dataset
        - Results are sorted by descending score
        - The `includeBase64` field in the request controls whether to include base64 data
      operationId: getImagesSimplified
      parameters:
      - name: country
        in: path
        required: true
        description: ISO country code (e.g. "denmark", "italy", "france")
        schema:
          type: string
          example: "denmark"
      requestBody:
        required: true
        description: |
          Image search request for EAN products.
          
          Specifies the EAN codes of products to search images for.
        content:
          application/json:
            schema:
              type: object
              required:
                - eans
              properties:
                eans:
                  type: array
                  items:
                    type: string
                  description: List of EAN codes to search
                  example: ["5901234123457", "5901234123458"]
                includeBase64:
                  type: boolean
                  description: If true, includes base64 data of images
                  default: false
                  example: true
                limit:
                  type: integer
                  description: Maximum number of images per product
                  default: 5
                  example: 10
            examples:
              basic:
                summary: Basic search without base64
                value:
                  eans: ["5901234123457"]
              withBase64:
                summary: Search with base64 data
                value:
                  eans: ["5901234123457", "5901234123458"]
                  includeBase64: true
                  limit: 10
      responses:
        '200':
          description: Images found successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        ean:
                          type: string
                          description: Product EAN code
                          example: "5901234123457"
                        images:
                          type: array
                          items:
                            type: object
                            properties:
                              url:
                                type: string
                                description: Full image URL
                                example: "https://example.com/image.jpg"
                              base64:
                                type: string
                                nullable: true
                                description: Base64 data of the image (if requested)
                              schours:
                                type: number
                                format: float
                                description: Similarity schours (0.0 - 1.0)
                                example: 0.85
                              source:
                                type: string
                                description: Image source
                                example: "google_images"
        '400':
          description: Invalid request - empty EAN list or invalid format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Dataset not found for the specified country
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/ean-image-sourcing/info:
    get:
      tags:
        - EAN Plugin
        - Info
      summary: Get EAN Image Sourcing plugin information
      description: |
        Returns information about the EAN Image Sourcing plugin, including
        version, configuration, and available features.
      operationId: getPluginInfo
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /webrobot/api/ean-image-sourcing/{country}/status:
    get:
      tags:
        - EAN Plugin
        - Jobs
      summary: Get status of the last EAN job executed for a country
      description: |
        Returns information about the last EAN Image Sourcing job executed for the specified country.
        
        Includes execution details such as:
        - Job status (PENDING, RUNNING, COMPLETED, FAILED)
        - Start and end timestamps
        - Execution time
        - Spark UI URL (if available)
        - Number of executor pods
        - Error messages (if failed)
      operationId: getStatus
      parameters:
      - name: country
        in: path
        required: true
        description: ISO country code (e.g. "denmark", "italy", "france")
        schema:
          type: string
          example: "denmark"
      responses:
        '200':
          description: Job status retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  country:
                    type: string
                    example: "denmark"
                  hasJobs:
                    type: boolean
                    description: Indicates if there are jobs for this country
                  latestJobStatus:
                    type: string
                    enum: [PENDING, RUNNING, COMPLETED, FAILED]
                    example: "COMPLETED"
                  latestJobId:
                    type: string
                    example: "210"
                  projectId:
                    type: string
                    example: "98"
                  latestExecution:
                    type: object
                    properties:
                      executionId:
                        type: string
                        example: "spark-2d53940045a6-95379617"
                      status:
                        type: string
                        example: "COMPLETED"
                      submittedAt:
                        type: string
                        format: date-time
                        example: "2025-12-10T19:36:47.798498"
                      completedAt:
                        type: string
                        format: date-time
                        example: "2025-12-10T19:58:04.825877"
                      executionTimeSeconds:
                        type: integer
                        description: Execution time in seconds
                        example: 1277
                      errorMessage:
                        type: string
                        nullable: true
                        description: Error message if the job failed
                      sparkUiUrl:
                        type: string
                        nullable: true
                        description: Spark UI URL to monitor the execution
                      executorPodCount:
                        type: integer
                        description: Number of executor pods used
                        example: 2
        '404':
          description: No job found for the specified country
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/ean-image-sourcing/{country}/query:
    post:
      tags:
        - EAN Plugin
        - Query
      summary: Execute a query on the EAN dataset
      description: |
        Executes a custom query on the EAN dataset of the specified country.
        
        Allows querying the dataset with custom filters and conditions.
      operationId: queryImages
      parameters:
      - name: country
        in: path
        required: true
        description: ISO country code (e.g. "denmark", "italy", "france")
        schema:
          type: string
          example: "denmark"
      requestBody:
        required: true
        description: Query to execute on the dataset
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
      responses:
        '200':
          description: Query results
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Dataset not found for the specified country
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/ean-image-sourcing/{country}/schedule:
    post:
      tags:
        - EAN Plugin
        - Scheduler
      summary: Schedule a recurring EAN job
      description: |
        Creates or updates the schedule for a recurring EAN Image Sourcing job for a country.
        
        The job will be executed automatically according to the specified schedule (cron format).
      operationId: scheduleJob
      parameters:
      - name: country
        in: path
        required: true
        description: ISO country code (e.g. "denmark", "italy", "france")
        schema:
          type: string
          example: "denmark"
      requestBody:
        required: true
        description: Schedule configuration (cron format)
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
      responses:
        '200':
          description: Schedule created/updated successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid schedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/ean-image-sourcing/{country}/upload:
    post:
      tags:
        - EAN Plugin
        - Upload
      summary: Upload an EAN dataset
      description: |
        Uploads a new EAN dataset for the specified country.
        
        The file must be in CSV format with EAN codes and related data.
      operationId: uploadCsv
      parameters:
      - name: country
        in: path
        required: true
        description: ISO country code (e.g. "denmark", "italy", "france")
        schema:
          type: string
          example: "denmark"
      requestBody:
        required: true
        description: CSV file to upload
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FormDataMultiPart'
      responses:
        '200':
          description: Dataset uploaded successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid file or wrong format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/ai-providers/providers/{provider}/training/{jobId}:
    delete:
      tags:
        - AI Providers
        - Training
      summary: Cancel an AI training job
      description: |
        Cancels an AI training job that is running or queued for the specified provider.
        
        **Warning:** This operation is irreversible and interrupts training if in progress.
      operationId: cancelTraining
      parameters:
      - name: provider
        in: path
        required: true
        description: AI provider name (e.g. "huggingface", "openai", "cohere")
        schema:
          type: string
          example: "huggingface"
      - name: jobId
        in: path
        required: true
        description: ID of the training job to cancel
        schema:
          type: string
          example: "job-12345"
      responses:
        '200':
          description: Job cancelled successfully
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/ai-providers/providers/{provider}/training/{jobId}/download:
    get:
      tags:
        - AI Providers
        - Training
      summary: Download a trained model
      description: |
        Downloads a trained AI model from the specified provider.
        
        The model is downloaded to the specified path or the default path.
      operationId: downloadModel
      parameters:
      - name: provider
        in: path
        required: true
        description: AI provider name
        schema:
          type: string
          example: "huggingface"
      - name: jobId
        in: path
        required: true
        description: Training job ID
        schema:
          type: string
          example: "job-12345"
      - name: outputPath
        in: query
        description: Destination path for download (optional)
        schema:
          type: string
          example: "/path/to/models"
      responses:
        '200':
          description: Model downloaded successfully
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Model or job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/ai-providers/providers/{provider}/cost-estimate:
    post:
      tags:
        - AI Providers
        - Training
      summary: Estimate the cost of a training job
      description: |
        Calculates a cost estimate for an AI training job based on the specified parameters.
        
        The estimate includes compute, storage and other necessary service costs.
      operationId: estimateCost
      parameters:
      - name: provider
        in: path
        required: true
        description: AI provider name
        schema:
          type: string
          example: "huggingface"
      requestBody:
        required: true
        description: Training job parameters for estimation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrainingRequestBean'
      responses:
        '200':
          description: Calculated cost estimate
          content:
            application/json:
              schema:
                type: object
                properties:
                  estimatedCost:
                    type: number
                    format: float
                    description: Costo stimato in USD
                  currency:
                    type: string
                    example: "USD"
        '400':
          description: Parametri non validi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/ai-providers/providers/{provider}/models:
    get:
      tags:
        - AI Providers
        - Models
      summary: Get models supported by a provider
      description: |
        Returns the list of all AI models supported by the specified provider,
        including information on versions, capabilities and requirements.
      operationId: getSupportedModels
      parameters:
      - name: provider
        in: path
        required: true
        description: AI provider name
        schema:
          type: string
          example: "huggingface"
      responses:
        '200':
          description: List of supported models
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '404':
          description: Provider not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/ai-providers/providers:
    get:
      tags:
        - AI Providers
      summary: Get list of supported AI providers
      description: |
        Returns the list of all AI providers supported by the platform,
        including information on available capabilities and configurations.
      operationId: getSupportedProviders
      responses:
        '200':
          description: List of supported providers
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/ai-providers/providers/{provider}/training/{jobId}/logs:
    get:
      tags:
        - AI Providers
        - Training
      summary: Get logs of a training job
      description: |
        Returns the execution logs of an AI training job.
        
        The logs include information on progress, errors, and training metrics.
      operationId: getTrainingLogs
      parameters:
      - name: provider
        in: path
        required: true
        description: AI provider name
        schema:
          type: string
          example: "huggingface"
      - name: jobId
        in: path
        required: true
        description: Training job ID
        schema:
          type: string
          example: "job-12345"
      responses:
        '200':
          description: Training job logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  logs:
                    type: array
                    items:
                      type: string
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/ai-providers/providers/{provider}/training/{jobId}/status:
    get:
      tags:
        - AI Providers
        - Training
      summary: Get status of a training job
      description: |
        Returns the current status of an AI training job, including information on
        progress, duration and any errors.
      operationId: getTrainingStatus
      parameters:
      - name: provider
        in: path
        required: true
        description: AI provider name
        schema:
          type: string
          example: "huggingface"
      - name: jobId
        in: path
        required: true
        description: Training job ID
        schema:
          type: string
          example: "job-12345"
      responses:
        '200':
          description: Training job status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [PENDING, RUNNING, COMPLETED, FAILED]
                  progress:
                    type: number
                    format: float
                    description: Percentuale di completamento (0-100)
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/ai-providers/providers/huggingface/models/publish:
    post:
      tags:
        - AI Providers
        - Models
      summary: Publish a model to Hugging Face
      description: |
        Publishes a trained model to the Hugging Face Model Hub platform.
        
        The model must have been trained and must be available for publication.
      operationId: publishModel
      requestBody:
        required: true
        description: Information for model publication
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelPublishRequest'
      responses:
        '200':
          description: Model published successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/ai-providers/providers/{provider}/training:
    post:
      tags:
        - AI Providers
        - Training
      summary: Start a new AI training job
      description: |
        Starts a new job of training for an AI model using the provider specified.
        
        The job is executed in the background and can be monitored through the status and logs endpoints.
      operationId: startTraining
      parameters:
      - name: provider
        in: path
        required: true
        description: AI provider name
        schema:
          type: string
          example: "huggingface"
      requestBody:
        required: true
        description: Training job configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrainingRequestBean'
      responses:
        '201':
          description: Training job started successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobId:
                    type: string
                    description: Created training job ID
        '400':
          description: Invalid configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/ai-providers/providers/{provider}/datasets:
    post:
      tags:
        - AI Providers
        - Datasets
      summary: Upload a dataset for AI training
      description: |
        Uploads a dataset to use for training AI models on the provider specified.
        
        The dataset must be in a format supported by the provider.
      operationId: uploadDataset
      parameters:
      - name: provider
        in: path
        required: true
        description: AI provider name
        schema:
          type: string
          example: "huggingface"
      requestBody:
        required: true
        description: Information on the dataset to upload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetUploadRequest'
      responses:
        '201':
          description: Dataset uploaded successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid dataset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/agents:
    post:
      tags:
        - Agents
      summary: Create a new PySpark agent
      description: |
        Creates a new PySpark agent that can be used to execute ETL jobs.
        
        An agent contains the PySpark code that is executed when a job is started.
        The agent must be associated with a category.
      operationId: createAgent
      requestBody:
        required: true
        description: Agent data to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentDto'
      responses:
        '201':
          description: Agent created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDto'
        '400':
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - scope `agents:write` required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/agents/{agentId}:
    delete:
      tags:
        - Agents
      summary: Delete an agent
      description: |
        Deletes a PySpark agent from the system.
        
        **Warning:** This operation is irreversible. Jobs that use this agent
        will no longer be able to be executed.
      operationId: deleteAgent
      parameters:
      - name: agentId
        in: path
        required: true
        description: Unique ID of the agent to delete
        schema:
          type: string
          example: "123"
      responses:
        '200':
          description: Agent deleted successfully
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - scope `agents:delete` required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/agents/{categoryId}/{agentId}:
    get:
      tags:
        - Agents
      summary: Get a specific agent
      description: |
        Returns the details of a specific PySpark agent, including the source code.
      operationId: getAgent
      parameters:
      - name: categoryId
        in: path
        required: true
        description: ID of the category the agent belongs to
        schema:
          type: string
          example: "1"
      - name: agentId
        in: path
        required: true
        description: Unique ID of the agent
        schema:
          type: string
          example: "123"
      responses:
        '200':
          description: Agent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDto'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - scope `agents:read` required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Agents
      summary: Update an agent
      description: |
        Updates the data of an existing PySpark agent, including the source code.
        
        **Note:** Updating the source code requires that no job is running
        with this agent.
      operationId: updateAgent
      parameters:
      - name: categoryId
        in: path
        required: true
        description: ID of the category the agent belongs to
        schema:
          type: string
          example: "1"
      - name: agentId
        in: path
        required: true
        description: Unique ID of the agent to update
        schema:
          type: string
          example: "123"
      requestBody:
        required: true
        description: Updated agent data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentDto'
      responses:
        '200':
          description: Agent updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDto'
        '400':
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - scope `agents:write` required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Agent in use - cannot update
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/agents/{categoryId}/name/{agentName}:
    get:
      tags:
        - Agents
      summary: Get an agent by name
      description: |
        Returns the details of a PySpark agent searching by name within of a category.
      operationId: getAgentFromName
      parameters:
      - name: categoryId
        in: path
        required: true
        description: Category ID
        schema:
          type: string
          example: "1"
      - name: agentName
        in: path
        required: true
        description: Agent name
        schema:
          type: string
          example: "my-agent"
      responses:
        '200':
          description: Agent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDto'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - scope `agents:read` required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/agents/{categoryId}:
    get:
      tags:
        - Agents
      summary: Get all agents of a category
      description: |
        Returns the list of all PySpark agents belonging to a specific category.
      operationId: getAllAgents
      parameters:
      - name: categoryId
        in: path
        required: true
        description: Category ID
        schema:
          type: string
          example: "1"
      responses:
        '200':
          description: List of agents in the category
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgentDto'
        '404':
          description: Category not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - scope `agents:read` required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/categories:
    get:
      tags:
        - Categories
      summary: Get all categories
      description: |
        Returns the list of all categories available in the system.
        
        Categories are used to organize projects, agents, and jobs.
      operationId: getAllCategories
      responses:
        '200':
          description: List of categories
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JobCategoryDto'
        '401':
          description: Unauthorized - scope `projects:read` required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Categories
      summary: Create a new category
      description: |
        Creates a new category to organize projects, agents and jobs.
      operationId: createCategory
      requestBody:
        required: true
        description: Category data to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobCategoryDto'
      responses:
        '201':
          description: Category created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCategoryDto'
        '400':
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - scope `projects:write` required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/categories/id/{categoryId}:
    get:
      tags:
        - Categories
      summary: Get a specific category
      description: |
        Returns the details of a specific category, including the list of associated projects.
      operationId: getCategory
      parameters:
      - name: categoryId
        in: path
        required: true
        description: Unique ID of the category
        schema:
          type: string
          example: "1"
      responses:
        '200':
          description: Category details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCategoryDto'
        '404':
          description: Category not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - scope `projects:read` required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Categories
      summary: Update a category
      description: |
        Updates the data of an existing category.
      operationId: updateCategory
      parameters:
      - name: categoryId
        in: path
        required: true
        description: Unique ID of the category to update
        schema:
          type: string
          example: "1"
      requestBody:
        required: true
        description: Updated category data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobCategoryDto'
      responses:
        '200':
          description: Category updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCategoryDto'
        '400':
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Category not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - scope `projects:write` required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Categories
      summary: Delete a category
      description: |
        Deletes a category from the system.
        
        **Warning:** This operation is irreversible. Associated projects will not be deleted.
      operationId: deleteCategory
      parameters:
      - name: categoryId
        in: path
        required: true
        description: Unique ID of the category to delete
        schema:
          type: string
          example: "1"
      responses:
        '200':
          description: Category deleted successfully
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Category not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - scope `projects:delete` required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/categories/{categoryName}:
    get:
      tags:
        - Categories
      summary: Get a category by name
      description: |
        Returns the details of a category searching by name.
      operationId: getCategoryFromName
      parameters:
      - name: categoryName
        in: path
        required: true
        description: Category name
        schema:
          type: string
          example: "my-category"
      responses:
        '200':
          description: Category details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCategoryDto'
        '404':
          description: Category not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - scope `projects:read` required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/categories/test:
    get:
      tags:
        - Categories
        - Test
      summary: Test endpoint for categories
      description: |
        Test endpoint to verify categories functionality.
      operationId: test
      responses:
        '200':
          description: Test completed successfully
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/cloud-credentials:
    get:
      tags:
        - Cloud Credentials
      summary: Get all cloud credentials
      description: |
        Returns the list of all cloud credentials configured in the system,
        with support for pagination and provider filtering.
        
        Cloud credentials are used to access external services such as
        AWS, Azure, GCP, etc. during Spark job execution.
      operationId: getAllCloudCredentials
      parameters:
      - name: provider
        in: query
        description: Filter by cloud provider (e.g. "aws", "azure", "gcp")
        schema:
          type: string
          example: "aws"
      - name: page
        in: query
        description: Page number (0-based)
        schema:
          type: integer
          format: int32
          default: 0
          example: 0
      - name: pageSize
        in: query
        description: Page size
        schema:
          type: integer
          format: int32
          default: 50
          example: 50
      responses:
        '200':
          description: List of cloud credentials
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CloudCredential'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Cloud Credentials
      summary: Create a new cloud credential
      description: |
        Creates a new cloud credential to access external cloud services.
        
        Credentials are encrypted and stored securely in the database.
      operationId: createCloudCredential
      requestBody:
        required: true
        description: Cloud credential data to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudCredential'
      responses:
        '201':
          description: Credential created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudCredential'
        '400':
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/cloud-credentials/id/{credentialId}:
    get:
      tags:
        - Cloud Credentials
      summary: Get a specific cloud credential
      description: |
        Returns the details of a specific cloud credential.
        
        **Note:** Sensitive credentials are returned in encrypted form.
      operationId: getCloudCredentialById
      parameters:
      - name: credentialId
        in: path
        required: true
        description: Unique ID of the credential
        schema:
          type: string
          example: "550e8400-e29b-41d4-a716-446655440000"
      responses:
        '200':
          description: Credential details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudCredential'
        '404':
          description: Credential not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Cloud Credentials
      summary: Update a cloud credential
      description: |
        Updates the data of an existing cloud credential.
        
        New credentials are encrypted before being saved.
      operationId: updateCloudCredential
      parameters:
      - name: credentialId
        in: path
        required: true
        description: Unique ID of the credential to update
        schema:
          type: string
          example: "550e8400-e29b-41d4-a716-446655440000"
      requestBody:
        required: true
        description: Updated credential data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudCredential'
      responses:
        '200':
          description: Credential updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudCredential'
        '400':
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Credential not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Cloud Credentials
      summary: Delete a cloud credential
      description: |
        Deletes a cloud credential from the system.
        
        **Warning:** This operation is irreversible. Jobs using this credential
        will no longer be able to access cloud services.
      operationId: deleteCloudCredential
      parameters:
      - name: credentialId
        in: path
        required: true
        description: Unique ID of the credential to delete
        schema:
          type: string
          example: "550e8400-e29b-41d4-a716-446655440000"
      responses:
        '200':
          description: Credential deleted successfully
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Credential not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/cloud-credentials/provider/{provider}:
    get:
      tags:
        - Cloud Credentials
      summary: Get cloud credentials by provider
      description: |
        Returns the list of all cloud credentials configured for a specific provider.
      operationId: getCloudCredentialsByProvider
      parameters:
      - name: provider
        in: path
        required: true
        description: Cloud provider name (e.g. "aws", "azure", "gcp")
        schema:
          type: string
          example: "aws"
      responses:
        '200':
          description: List of credentials for the provider
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CloudCredential'
        '404':
          description: Provider not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/datasets:
    get:
      tags:
        - Datasets
      summary: Get all datasets
      description: |
        Returns the list of all datasets available in the system, with support for filters.
        
        Datasets can be filtered by type, format, and indexing status.
      operationId: getAllDatasets_1
      parameters:
      - name: type
        in: query
        description: Filter by dataset type
        schema:
          type: string
          example: "parquet"
      - name: indexed
        in: query
        description: Filter by indexing status (true/false)
        schema:
          type: string
          example: "true"
      - name: format
        in: query
        description: Filter by format (parquet, csv, json, etc.)
        schema:
          type: string
          example: "parquet"
      responses:
        '200':
          description: List of datasets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DatasetDto'
        '401':
          description: Unauthorized - scope `datasets:read` required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Datasets
      summary: Create a new dataset
      description: |
        Creates a new dataset in the system with the specified configurations.
        
        The dataset can be associated with a project and used as input or output for ETL jobs.
      operationId: createDataset
      requestBody:
        required: true
        description: Dataset data to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetDto'
      responses:
        '201':
          description: Dataset created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetDto'
        '400':
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - scope `datasets:write` required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/datasets/{datasetId}:
    get:
      tags:
        - Datasets
      summary: Get a specific dataset
      description: |
        Returns the details of a specific dataset, including information on schema, format and path.
      operationId: getDataset_1
      parameters:
      - name: datasetId
        in: path
        required: true
        description: Dataset ID
        schema:
          type: string
          example: "123"
      responses:
        '200':
          description: Dataset details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetDto'
        '404':
          description: Dataset not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - scope `datasets:read` required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Datasets
      summary: Update a dataset
      description: |
        Updates the data of an existing dataset, including configurations and metadata.
      operationId: updateDataset
      parameters:
      - name: datasetId
        in: path
        required: true
        description: Unique ID of the dataset to update
        schema:
          type: string
          example: "123"
      requestBody:
        required: true
        description: Updated dataset data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetDto'
      responses:
        '200':
          description: Dataset updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetDto'
        '400':
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Dataset not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - scope `datasets:write` required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Datasets
      summary: Delete a dataset
      description: |
        Deletes a dataset from the system.
        
        **Warning:** This operation is irreversible. Jobs that use this dataset
        as input or output may not work correctly.
      operationId: deleteDataset_1
      parameters:
      - name: datasetId
        in: path
        required: true
        description: Unique ID of the dataset to delete
        schema:
          type: string
          example: "123"
      responses:
        '200':
          description: Dataset deleted successfully
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Dataset not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - scope `datasets:delete` required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/datasets/query:
    post:
      tags:
        - Datasets
        - Query
      summary: Executes an SQL query on a dataset
      description: |
        Executes an SQL query (Presto/Trino) on a dataset to retrieve or analyze the data.
        
        The query is executed on the MinIO catalog and can use all SQL features supported by Trino.
      operationId: executeQuery
      requestBody:
        required: true
        description: Query SQL da eseguire
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrestoQueryRequest'
      responses:
        '200':
          description: Query results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
        '400':
          description: Invalid query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/datasets/query/task/{taskId}/info:
    get:
      tags:
        - Datasets
        - Query
        - Tasks
      summary: Get information about the dataset associated with a task
      description: |
        Returns information about the output dataset associated with a specific task.
      operationId: getDatasetInfoByTask
      parameters:
      - name: taskId
        in: path
        required: true
        description: Task ID
        schema:
          type: string
          example: "123"
      responses:
        '200':
          description: Dataset information
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Task or dataset not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/datasets/query/columns:
    get:
      tags:
        - Datasets
        - Query
      summary: Get columns of a table
      description: |
        Returns the list of columns and their types of a table in the Trino catalog.
      operationId: getTableColumns
      parameters:
      - name: catalog
        in: query
        description: "Catalog name (default: minio)"
        schema:
          type: string
          default: minio
          example: "minio"
      - name: schema
        in: query
        description: "Schema name (default: default)"
        schema:
          type: string
          default: default
          example: "default"
      - name: table
        in: query
        required: true
        description: Table name
        schema:
          type: string
          example: "my_table"
      responses:
        '200':
          description: List of columns
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    type:
                      type: string
        '404':
          description: Table not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/datasets/query/tables:
    get:
      tags:
        - Datasets
        - Query
      summary: List all available tables
      description: |
        Returns the list of all tables available in a specific catalog and schema.
      operationId: listTables
      parameters:
      - name: catalog
        in: query
        description: "Catalog name (default: minio)"
        schema:
          type: string
          default: minio
          example: "minio"
      - name: schema
        in: query
        description: "Schema name (default: default)"
        schema:
          type: string
          default: default
          example: "default"
      responses:
        '200':
          description: List of tables
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/datasets/query/task/{taskId}:
    post:
      tags:
        - Datasets
        - Query
        - Tasks
      summary: Executes an SQL query on the output dataset of a task
      description: |
        Executes a SQL query on the output dataset associated with a specific task.
        
        Useful for analyzing the results of a task after its execution.
      operationId: queryDatasetByTask
      parameters:
      - name: taskId
        in: path
        required: true
        description: Task ID
        schema:
          type: string
          example: "123"
      requestBody:
        required: true
        description: SQL query to execute
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrestoQueryRequest'
      responses:
        '200':
          description: Query results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
        '400':
          description: Invalid query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Task or dataset not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/admin/etl-library-versions:
    get:
      tags:
        - Admin
        - ETL Library
      summary: Get all ETL library versions
      description: |
        Returns the list of all ETL library versions available in the system,
        with support for filtering by build type and active status.
      operationId: getAllVersions
      parameters:
      - name: buildType
        in: query
        description: Filter by build type (e.g. "development", "production")
        schema:
          type: string
          example: "development"
      - name: activeOnly
        in: query
        description: Return only active versions
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: List of ETL versions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EtlLibraryVersionApiDto'
        '401':
          description: Unauthorized - scope `admin:read` required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Admin
        - ETL Library
      summary: Create or update an ETL library version
      description: |
        Creates a new ETL library version or updates an existing one.
        
        ETL versions are used to execute Spark jobs with specific library versions.
      operationId: createOrUpdateVersion
      requestBody:
        required: true
        description: ETL version data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EtlLibraryVersionApiDto'
      responses:
        '200':
          description: Version created or updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EtlLibraryVersionApiDto'
        '201':
          description: Version created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EtlLibraryVersionApiDto'
        '400':
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - scope `admin:write` required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/admin/etl-library-versions/id/{id}:
    get:
      tags:
        - Admin
        - ETL Library
      summary: Get a specific ETL version
      description: |
        Returns the details of a version of the library ETL identified by the ID.
      operationId: getVersionById
      parameters:
      - name: id
        in: path
        required: true
        description: Unique ID of the version
        schema:
          type: integer
          format: int64
          example: 1
      responses:
        '200':
          description: ETL version details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EtlLibraryVersionApiDto'
        '404':
          description: Version not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - scope `admin:read` required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Admin
        - ETL Library
      summary: Update an ETL version
      description: |
        Updates the data of an existing ETL library version.
      operationId: updateVersion
      parameters:
      - name: id
        in: path
        required: true
        description: Unique ID of the version to update
        schema:
          type: integer
          format: int64
          example: 1
      requestBody:
        required: true
        description: Updated version data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EtlLibraryVersionApiDto'
      responses:
        '200':
          description: Version updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EtlLibraryVersionApiDto'
        '400':
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Version not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - scope `admin:write` required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Admin
        - ETL Library
      summary: Delete an ETL version
      description: |
        Deletes an ETL library version from the system.
        
        **Warning:** This operation is irreversible. Jobs using this version
        may not work correctly.
      operationId: deleteVersion
      parameters:
      - name: id
        in: path
        required: true
        description: Unique ID of the version to delete
        schema:
          type: integer
          format: int64
          example: 1
      responses:
        '200':
          description: Version deleted successfully
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Version not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - scope `admin:delete` required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/admin/etl-library-versions/build-type/{buildType}/build-number/{buildNumber}:
    get:
      tags:
        - Admin
        - ETL Library
      summary: Get an ETL version by build type and build number
      description: |
        Returns the details of a version of the library ETL identified by build type
        and build number.
      operationId: getVersionByBuildTypeAndBuildNumber
      parameters:
      - name: buildType
        in: path
        required: true
        description: Build type (e.g. "development", "production")
        schema:
          type: string
          example: "development"
      - name: buildNumber
        in: path
        required: true
        description: Build number
        schema:
          type: integer
          format: int32
          example: 123
      responses:
        '200':
          description: ETL version details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EtlLibraryVersionApiDto'
        '404':
          description: Version not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - scope `admin:read` required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/package/download:
    get:
      tags:
        - Package
      summary: Get URL for package download
      description: |
        Returns a temporary URL to download a package of projects and configurations.
      operationId: getUrlDownload
      responses:
        '200':
          description: Download URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                    description: Temporary URL for download
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/package/upload:
    get:
      tags:
        - Package
      summary: Get URL for package upload
      description: |
        Returns a temporary URL to upload a package of projects and configurations.
      operationId: getUrlUpload
      responses:
        '200':
          description: URL di upload
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                    description: Temporary URL for upload
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/package/export/all:
    get:
      tags:
        - Package
      summary: Start export of all projects
      description: |
        Starts the export process for all projects and system configurations
        in a compressed package.
      operationId: start_export_All
      responses:
        '200':
          description: Export started successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  exportId:
                    type: string
                    description: Export operation ID
        '401':
          description: Unauthorized - scope `package:export` required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/package/export/id/{projectId}:
    get:
      tags:
        - Package
      summary: Start export of a specific project
      description: |
        Starts the export process for a specific project and its configurations
        in a compressed package.
      operationId: start_export_project
      parameters:
      - name: projectId
        in: path
        required: true
        description: Project ID to export
        schema:
          type: string
          example: "98"
      responses:
        '200':
          description: Export started successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  exportId:
                    type: string
                    description: Export operation ID
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - scope `package:export` required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/package/import/all:
    get:
      tags:
        - Package
      summary: Start import of all projects
      description: |
        Starts the import process of all projects and configurations from a compressed package.
        
        **Warning:** This operation may overwrite existing projects.
      operationId: start_import_All
      responses:
        '200':
          description: Import started successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  importId:
                    type: string
                    description: Import operation ID
        '401':
          description: Unauthorized - scope `package:import` required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/package/import/id/{projectId}:
    get:
      tags:
        - Package
      summary: Start import of a specific project
      description: |
        Starts the import process of a specific project and its configurations from a compressed package.
        
        **Warning:** This operation may overwrite the existing project if present.
      operationId: start_import_project
      parameters:
      - name: projectId
        in: path
        required: true
        description: Project ID to import
        schema:
          type: string
          example: "98"
      responses:
        '200':
          description: Import started successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  importId:
                    type: string
                    description: Import operation ID
        '404':
          description: Project not found in the package
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - scope `package:import` required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/admin/plugins/{pluginId}/disable:
    post:
      tags:
        - Admin
        - Plugins
      summary: Disable a plugin
      description: |
        Disable a plugin in the system for a specific build type.
        
        Disabled plugins will not be available for use in jobs.
      operationId: disablePlugin
      parameters:
      - name: pluginId
        in: path
        required: true
        description: Plugin ID
        schema:
          type: string
          example: "ean-image-sourcing"
      - name: buildType
        in: query
        description: "Build type (default: development)"
        schema:
          type: string
          default: development
          example: "development"
      responses:
        '200':
          description: Plugin disabled successfully
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Plugin not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - scope `admin:write` required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/admin/plugins/{pluginId}/enable:
    post:
      tags:
        - Admin
        - Plugins
      summary: Enable a plugin
      description: |
        Enable a plugin in the system for a specific build type.
        
        Enabled plugins will be available for use in jobs.
      operationId: enablePlugin
      parameters:
      - name: pluginId
        in: path
        required: true
        description: Plugin ID
        schema:
          type: string
          example: "ean-image-sourcing"
      - name: buildType
        in: query
        description: "Build type (default: development)"
        schema:
          type: string
          default: development
          example: "development"
      responses:
        '200':
          description: Plugin enabled successfully
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Plugin not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - scope `admin:write` required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/admin/plugins:
    get:
      tags:
        - Admin
        - Plugins
      summary: List all plugins
      description: |
        Returns the list of all plugins available in the system, filtered by build type.
      operationId: listPlugins
      parameters:
      - name: buildType
        in: query
        description: "Build type (default: development)"
        schema:
          type: string
          default: development
          example: "development"
      responses:
        '200':
          description: List of plugins
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '401':
          description: Unauthorized - scope `admin:read` required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/admin/plugins/upload:
    post:
      tags:
        - Admin
        - Plugins
      summary: Upload a new plugin
      description: |
        Uploads a new plugin to the system as a JAR file.
        
        The plugin can be associated with one or more organizations and a specific build type.
      operationId: uploadPlugin
      requestBody:
        required: true
        description: Plugin file and metadata
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - pluginId
              properties:
                file:
                  $ref: '#/components/schemas/FormDataContentDisposition'
                  description: Plugin JAR file
                pluginId:
                  type: string
                  description: Plugin ID
                  example: "my-plugin"
                buildType:
                  type: string
                  description: "Build type (default: development)"
                  default: development
                  example: "development"
                buildNumber:
                  type: integer
                  format: int32
                  description: Plugin build number
                  example: 1
                organizationIds:
                  type: string
                  description: List of organization IDs separated by comma
                  example: "1,2,3"
      responses:
        '201':
          description: Plugin uploaded successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid file or data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - scope `admin:write` required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/admin/plugin-installations/{id}:
    get:
      tags:
        - Admin
        - Plugins
      summary: Get a specific plugin installation
      description: |
        Returns the details of a plugin installation identified by the ID.
      operationId: getInstallationById
      parameters:
      - name: id
        in: path
        required: true
        description: Installation ID
        schema:
          type: integer
          format: int64
          example: 1
      responses:
        '200':
          description: Plugin installation details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PluginInstallation'
        '404':
          description: Installation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - scope `admin:read` required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Admin
        - Plugins
      summary: Update a plugin installation
      description: |
        Updates the data of an existing plugin installation, including configurations and metadata.
      operationId: updateInstallation
      parameters:
      - name: id
        in: path
        required: true
        description: Unique ID of the installation to update
        schema:
          type: integer
          format: int64
          example: 1
      requestBody:
        required: true
        description: Updated installation data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PluginInstallation'
      responses:
        '200':
          description: Installation updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PluginInstallation'
        '400':
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Installation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
[...]
