openapi: 3.0.1
info:
  title: WebRobot ETL API
  description: |
    API for managing projects, jobs, datasets, and ETL pipelines on WebRobot.
    
    ## Authentication
    
    The API uses API Keys for authentication. Include the `X-API-Key` header in all requests.
    
    ## Base URL
    
    - Production: `https://api.webrobot.eu/api`
    - Development: `http://localhost:8020/api`
    
    ## Rate Limiting
    
    Requests are limited to 1000 requests per minute per API key.
  version: 1.0.0
  contact:
    name: WebRobot Support
    email: support@webrobot.eu
  license:
    name: Proprietary
    url: https://webrobot.eu

servers:
  - url: https://api.webrobot.eu/api
    description: Production
  - url: http://localhost:8020/api
    description: Local development

security:
  - ApiKeyAuth: []

paths:
  /webrobot/cloud/scheduler/cronjobs:
    get:
      tags:
        - Cloud
        - Scheduler
      summary: List all Kubernetes CronJobs
      description: |
        Returns the list of all CronJobs configured in the Kubernetes cluster.
        
        CronJobs are used to schedule periodic execution of Spark jobs.
      operationId: listCronJobs
      parameters:
      - name: namespace
        in: query
        description: Kubernetes namespace to filter (optional)
        schema:
          type: string
          example: "webrobot"
      responses:
        '200':
          description: List of CronJobs retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Cloud
        - Scheduler
      summary: Create a new Kubernetes CronJob
      description: |
        Creates a new Kubernetes CronJob to schedule periodic execution of a Spark job.
        
        The CronJob will execute the job according to the specified schedule (cron format).
      operationId: createCronJob
      requestBody:
        required: true
        description: Configuration of the CronJob to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CronJobRequest'
      responses:
        '201':
          description: CronJob created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/cloud/scheduler/cronjobs/{name}:
    get:
      tags:
        - Cloud
        - Scheduler
      summary: Get a specific CronJob
      description: |
        Returns the details of a specific Kubernetes CronJob.
      operationId: getCronJob
      parameters:
      - name: name
        in: path
        required: true
        description: CronJob name
        schema:
          type: string
          example: "daily-etl-job"
      - name: namespace
        in: query
        description: Kubernetes namespace (optional)
        schema:
          type: string
          example: "webrobot"
      responses:
        '200':
          description: CronJob details
          content:
            application/json:
              schema:
                type: object
        '404':
          description: CronJob not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Cloud
        - Scheduler
      summary: Delete a Kubernetes CronJob
      description: |
        Deletes a Kubernetes CronJob and all its scheduled executions.
        
        **Warning:** This operation is irreversible.
      operationId: deleteCronJob
      parameters:
      - name: name
        in: path
        required: true
        description: Name of the CronJob to delete
        schema:
          type: string
          example: "daily-etl-job"
      - name: namespace
        in: query
        description: Kubernetes namespace (optional)
        schema:
          type: string
          example: "webrobot"
      responses:
        '200':
          description: CronJob deleted successfully
          content:
            application/json:
              schema:
                type: object
        '404':
          description: CronJob not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/cloud/spark/capabilities:
    get:
      tags:
        - Cloud
        - Spark
      summary: Get Spark cluster capabilities
      description: |
        Returns information about available capabilities and configurations of the Spark cluster,
        including supported versions, available resources, and configurations.
      operationId: getCapabilities
      responses:
        '200':
          description: Spark cluster capabilities
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/cloud/spark/info:
    get:
      tags:
        - Cloud
        - Spark
      summary: Get Spark cluster information
      description: |
        Returns general information about the Spark cluster, including versions, configurations
        e status of the cluster.
      operationId: getInfo
      responses:
        '200':
          description: Spark cluster information
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/cloud/spark/health:
    get:
      tags:
        - Cloud
        - Spark
        - Health
      summary: Spark service health check
      description: |
        Checks the health status of the Spark service and cluster.
      operationId: healthCheck
      responses:
        '200':
          description: Spark service operational
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "UP"
        '503':
          description: Spark service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/cloud/training/info:
    get:
      tags:
        - Cloud
        - Training
      summary: Get training service information
      description: |
        Returns information about the AI/ML training service, including versions and configurations.
      operationId: getInfo_1
      responses:
        '200':
          description: Training service information
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/cloud/training/health:
    get:
      tags:
        - Cloud
        - Training
        - Health
      summary: Training service health check
      description: |
        Checks the health status of the AI/ML training service.
      operationId: healthCheck_1
      responses:
        '200':
          description: Training service operational
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "UP"
        '503':
          description: Training service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/ean-image-sourcing/{country}/execute:
    post:
      operationId: executeJob
      parameters:
      - name: country
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /webrobot/api/ean-image-sourcing/bootstrap/status:
    get:
      operationId: getBootstrapStatus
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /webrobot/api/ean-image-sourcing/{country}/images:
    post:
      tags:
        - EAN Plugin
        - Images
      summary: Search and retrieve images for EAN products
      description: |
        Searches for images of products identified by EAN codes in the dataset of the specified country.
        
        Returns images with:
        - Full image URL
        - Base64 data (if requested)
        - Similarity schours (0.0 - 1.0)
        - Additional metadata
        
        **Note:**
        - Images are searched in the most recent available dataset
        - Results are sorted by descending score
        - The `includeBase64` field in the request controls whether to include base64 data
      operationId: getImagesSimplified
      parameters:
      - name: country
        in: path
        required: true
        description: ISO country code (e.g. "denmark", "italy", "france")
        schema:
          type: string
          example: "denmark"
      requestBody:
        required: true
        description: |
          Image search request for EAN products.
          
          Specifies the EAN codes of products to search images for.
        content:
          application/json:
            schema:
              type: object
              required:
                - eans
              properties:
                eans:
                  type: array
                  items:
                    type: string
                  description: List of EAN codes to search
                  example: ["5901234123457", "5901234123458"]
                includeBase64:
                  type: boolean
                  description: If true, includes base64 data of images
                  default: false
                  example: true
                limit:
                  type: integer
                  description: Maximum number of images per product
                  default: 5
                  example: 10
            examples:
              basic:
                summary: Basic search without base64
                value:
                  eans: ["5901234123457"]
              withBase64:
                summary: Search with base64 data
                value:
                  eans: ["5901234123457", "5901234123458"]
                  includeBase64: true
                  limit: 10
      responses:
        '200':
          description: Images found successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        ean:
                          type: string
                          description: Product EAN code
                          example: "5901234123457"
                        images:
                          type: array
                          items:
                            type: object
                            properties:
                              url:
                                type: string
                                description: Full image URL
                                example: "https://example.com/image.jpg"
                              base64:
                                type: string
                                nullable: true
                                description: Base64 data of the image (if requested)
                              schours:
                                type: number
                                format: float
                                description: Similarity schours (0.0 - 1.0)
                                example: 0.85
                              source:
                                type: string
                                description: Image source
                                example: "google_images"
        '400':
          description: Invalid request - empty EAN list or invalid format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Dataset not found for the specified country
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/ean-image-sourcing/info:
    get:
      operationId: getPluginInfo
      responses:
        default:
          -description: default response
          content:
            application/json: {}
  /webrobot/api/ean-image-sourcing/{country}/status:
    get:
      tags:
        - EAN Plugin
        - Jobs
      summary: Get status of the last EAN job executed for a country
      description: |
        Returns information about the last EAN Image Sourcing job executed for the specified country.
        
        Includes execution details such as:
        - Job status (PENDING, RUNNING, COMPLETED, FAILED)
        - Start and end timestamps
        - Execution time
        - Spark UI URL (if available)
        - Number of executor pods
        - Error messages (if failed)
      operationId: getStatus
      parameters:
      - name: country
        in: path
        required: true
        description: ISO country code (e.g. "denmark", "italy", "france")
        schema:
          type: string
          example: "denmark"
      responses:
        '200':
          description: Job status retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  country:
                    type: string
                    example: "denmark"
                  hasJobs:
                    type: boolean
                    description: Indicates if there are jobs for this country
                  latestJobStatus:
                    type: string
                    enum: [PENDING, RUNNING, COMPLETED, FAILED]
                    example: "COMPLETED"
                  latestJobId:
                    type: string
                    example: "210"
                  projectId:
                    type: string
                    example: "98"
                  latestExecution:
                    type: object
                    properties:
                      executionId:
                        type: string
                        example: "spark-2d53940045a6-95379617"
                      status:
                        type: string
                        example: "COMPLETED"
                      submittedAt:
                        type: string
                        format: date-time
                        example: "2025-12-10T19:36:47.798498"
                      completedAt:
                        type: string
                        format: date-time
                        example: "2025-12-10T19:58:04.825877"
                      executionTimeSeconds:
                        type: integer
                        description: Execution time in seconds
                        example: 1277
                      errorMessage:
                        type: string
                        nullable: true
                        description: Error message if the job failed
                      sparkUiUrl:
                        type: string
                        nullable: true
                        description: Spark UI URL to monitor the execution
                      executorPodCount:
                        type: integer
                        description: Number of executor pods used
                        example: 2
        '404':
          description: No job found for the specified country
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/ean-image-sourcing/{country}/query:
    post:
      tags:
        - EAN Plugin
        - Query
      summary: Execute a query on the EAN dataset
      description: |
        Executes a custom query on the EAN dataset of the specified country.
        
        Allows querying the dataset with custom filters and conditions.
      operationId: queryImages
      parameters:
      - name: country
        in: path
        required: true
        description: ISO country code (e.g. "denmark", "italy", "france")
        schema:
          type: string
          example: "denmark"
      requestBody:
        required: true
        description: Query to execute on the dataset
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
      responses:
        '200':
          description: Query results
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Query non valida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Dataset not found for the specified country
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/ean-image-sourcing/{country}/schedule:
    post:
      tags:
        - EAN Plugin
        - Scheduler
      summary: Schedule a recurring EAN job
      description: |
        Creates or updates the schedule for a recurring EAN Image Sourcing job for a country.
        
        The job will be executed automatically according to the specified schedule (cron format).
      operationId: scheduleJob
      parameters:
      - name: country
        in: path
        required: true
        description: ISO country code (e.g. "denmark", "italy", "france")
        schema:
          type: string
          example: "denmark"
      requestBody:
        required: true
        description: Schedule configuration (cron format)
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
      responses:
        '200':
          description: Schedule created/updated successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Schedule non valida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/ean-image-sourcing/{country}/upload:
    post:
      tags:
        - EAN Plugin
        - Upload
      summary: Upload an EAN dataset
      description: |
        Uploads a new EAN dataset for the specified country.
        
        The file must be in CSV format with EAN codes and related data.
      operationId: uploadCsv
      parameters:
      - name: country
        in: path
        required: true
        description: ISO country code (e.g. "denmark", "italy", "france")
        schema:
          type: string
          example: "denmark"
      requestBody:
        required: true
        description: CSV file to upload
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FormDataMultiPart'
      responses:
        '200':
          description: Dataset uploaded successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid file or wrong format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/ai-providers/providers/{provider}/training/{jobId}:
    delete:
      tags:
        - AI Providers
        - Training
      summary: Cancel an AI training job
      description: |
        Cancels an AI training job that is running or queued for the specified provider.
        
        **Warning:** This operation is irreversible and interrupts training if in progress.
      operationId: cancelTraining
      parameters:
      - name: provider
        in: path
        required: true
        description: AI provider name (e.g. "huggingface", "openai", "cohere")
        schema:
          type: string
          example: "huggingface"
      - name: jobId
        in: path
        required: true
        description: ID of the training job to cancel
        schema:
          type: string
          example: "job-12345"
      responses:
        '200':
          description: Job cancelled successfully
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/ai-providers/providers/{provider}/training/{jobId}/download:
    get:
      tags:
        - AI Providers
        - Training
      summary: Download a trained model
      description: |
        Downloads a trained AI model from the specified provider.
        
        The model is downloaded to the specified path or the default path.
      operationId: downloadModel
      parameters:
      - name: provider
        in: path
        required: true
        description: AI provider name
        schema:
          type: string
          example: "huggingface"
      - name: jobId
        in: path
        required: true
        description: Training job ID
        schema:
          type: string
          example: "job-12345"
      - name: outputPath
        in: query
        description: Destination path for download (optional)
        schema:
          type: string
          example: "/path/to/models"
      responses:
        '200':
          description: Model downloaded successfully
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Model or job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/ai-providers/providers/{provider}/cost-estimate:
    post:
      tags:
        - AI Providers
        - Training
      summary: Estimate the cost of a training job
      description: |
        Calculates a cost estimate for an AI training job based on the specified parameters.
        
        The estimate includes compute, storage and other necessary service costs.
      operationId: estimateCost
      parameters:
      - name: provider
        in: path
        required: true
        description: AI provider name
        schema:
          type: string
          example: "huggingface"
      requestBody:
        required: true
        description: Training job parameters for estimation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrainingRequestBean'
      responses:
        '200':
          description: Calculated cost estimate
          content:
            application/json:
              schema:
                type: object
                properties:
                  estimatedCost:
                    type: number
                    format: float
                    description: Costo stimato in USD
                  currency:
                    type: string
                    example: "USD"
        '400':
          description: Parametri non validi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/ai-providers/providers/{provider}/models:
    get:
      tags:
        - AI Providers
        - Models
      summary: Get models supported by a provider
      description: |
        Returns the list of all AI models supported by the specified provider,
        including information on versions, capabilities and requirements.
      operationId: getSupportedModels
      parameters:
      - name: provider
        in: path
        required: true
        description: AI provider name
        schema:
          type: string
          example: "huggingface"
      responses:
        '200':
          description: Lista dei modelli supportati
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '404':
          description: Provider non trovato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/ai-providers/providers:
    get:
      tags:
        - AI Providers
      summary: Get list of supported AI providers
      description: |
        Returns the list of all AI providers supported by the platform,
        including information on available capabilities and configurations.
      operationId: getSupportedProviders
      responses:
        '200':
          description: Lista dei provider supportati
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/ai-providers/providers/{provider}/training/{jobId}/logs:
    get:
      tags:
        - AI Providers
        - Training
      summary: Get logs of a training job
      description: |
        Returns the logs di esecuzione of a job di training AI.
        
        The logs include informazioni su progresso, errori e metriche of training.
      operationId: getTrainingLogs
      parameters:
      - name: provider
        in: path
        required: true
        description: AI provider name
        schema:
          type: string
          example: "huggingface"
      - name: jobId
        in: path
        required: true
        description: Training job ID
        schema:
          type: string
          example: "job-12345"
      responses:
        '200':
          description: Log del job di training
          content:
            application/json:
              schema:
                type: object
                properties:
                  logs:
                    type: array
                    items:
                      type: string
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/ai-providers/providers/{provider}/training/{jobId}/status:
    get:
      tags:
        - AI Providers
        - Training
      summary: Get status of a training job
      description: |
        Returns the current status of an AI training job, including information on
        progresso, durata e eventuali errori.
      operationId: getTrainingStatus
      parameters:
      - name: provider
        in: path
        required: true
        description: AI provider name
        schema:
          type: string
          example: "huggingface"
      - name: jobId
        in: path
        required: true
        description: Training job ID
        schema:
          type: string
          example: "job-12345"
      responses:
        '200':
          description: Status del job di training
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [PENDING, RUNNING, COMPLETED, FAILED]
                  progress:
                    type: number
                    format: float
                    description: Percentuale di completamento (0-100)
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/ai-providers/providers/huggingface/models/publish:
    post:
      tags:
        - AI Providers
        - Models
      summary: Publish a model to Hugging Face
      description: |
        Publishes a trained model to the Hugging Face Model Hub platform.
        
        The model must have been trained and must be available for publication.
      operationId: publishModel
      requestBody:
        required: true
        description: Information for model publication
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelPublishRequest'
      responses:
        '200':
          description: Model published successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/ai-providers/providers/{provider}/training:
    post:
      tags:
        - AI Providers
        - Training
      summary: Start a new AI training job
      description: |
        Starts a new job di training for a model AI utilizzando il provider specified.
        
        The job is executed in the background and can be monithoursd through the status and logs endpoints.
      operationId: startTraining
      parameters:
      - name: provider
        in: path
        required: true
        description: AI provider name
        schema:
          type: string
          example: "huggingface"
      requestBody:
        required: true
        description: Training job configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrainingRequestBean'
      responses:
        '201':
          description: Training job started successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobId:
                    type: string
                    description: Created training job ID
        '400':
          description: Invalid configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/ai-providers/providers/{provider}/datasets:
    post:
      tags:
        - AI Providers
        - Datasets
      summary: Upload a dataset for AI training
      description: |
        Carica un dataset da utilizzare for the training di modelli AI on the provider specified.
        
        The dataset must be in a format supported by the provider.
      operationId: uploadDataset
      parameters:
      - name: provider
        in: path
        required: true
        description: AI provider name
        schema:
          type: string
          example: "huggingface"
      requestBody:
        required: true
        description: Information on the dataset to upload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetUploadRequest'
      responses:
        '201':
          description: Dataset uploaded successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Dataset non valido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/agents:
    post:
      tags:
        - Agents
      summary: Create a new PySpark agent
      description: |
        Creates a new PySpark agent that can be used to execute ETL jobs.
        
        An agent contains the PySpark code that is executed when a job is started.
        The agent must be associated with a category.
      operationId: createAgent
      requestBody:
        required: true
        description: Agent data to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentDto'
      responses:
        '201':
          description: Agent created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDto'
        '400':
          description: Dati non validi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato - scope `agents:write` richiesto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/agents/{agentId}:
    delete:
      tags:
        - Agents
      summary: Delete an agent
      description: |
        Deletes a PySpark agent from the system.
        
        **Warning:** This operation is irreversible. Jobs that use this agent
        will no longer be able to be executed.
      operationId: deleteAgent
      parameters:
      - name: agentId
        in: path
        required: true
        description: Unique ID of the agent to delete
        schema:
          type: string
          example: "123"
      responses:
        '200':
          description: Agente eliminato con successo
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Agente non trovato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato - scope `agents:delete` richiesto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/agents/{categoryId}/{agentId}:
    get:
      tags:
        - Agents
      summary: Get a specific agent
      description: |
        Returns the details of a specific PySpark agent, including the source code.
      operationId: getAgent
      parameters:
      - name: categoryId
        in: path
        required: true
        description: ID delthe category a cui appartiene the agent
        schema:
          type: string
          example: "1"
      - name: agentId
        in: path
        required: true
        description: Unique ID delthe agent
        schema:
          type: string
          example: "123"
      responses:
        '200':
          description: Dettagli delthe agent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDto'
        '404':
          description: Agente non trovato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato - scope `agents:read` richiesto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Agents
      summary: Update an agent
      description: |
        Updates the data of an existing PySpark agent, including the source code.
        
        **Note:** L'aggiornamento del codice sorgente richiede che nessun job sia running
        with this agent.
      operationId: updateAgent
      parameters:
      - name: categoryId
        in: path
        required: true
        description: ID delthe category a cui appartiene the agent
        schema:
          type: string
          example: "1"
      - name: agentId
        in: path
        required: true
        description: Unique ID of the agent to update
        schema:
          type: string
          example: "123"
      requestBody:
        required: true
        description: Updated agent data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentDto'
      responses:
        '200':
          description: Agent updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDto'
        '400':
          description: Dati non validi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Agente non trovato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato - scope `agents:write` richiesto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Agente in uso - impossibile aggiornare
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/agents/{categoryId}/name/{agentName}:
    get:
      tags:
        - Agents
      summary: Get an agent by name
      description: |
        Returns the details of a PySpark agent searching by name within of a category.
      operationId: getAgentFromName
      parameters:
      - name: categoryId
        in: path
        required: true
        description: ID delthe category
        schema:
          type: string
          example: "1"
      - name: agentName
        in: path
        required: true
        description: Agent name
        schema:
          type: string
          example: "my-agent"
      responses:
        '200':
          description: Dettagli delthe agent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDto'
        '404':
          description: Agente non trovato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato - scope `agents:read` richiesto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/agents/{categoryId}:
    get:
      tags:
        - Agents
      summary: Get all agents of a category
      description: |
        Returns the list of all PySpark agents belonging to a specific category.
      operationId: getAllAgents
      parameters:
      - name: categoryId
        in: path
        required: true
        description: ID delthe category
        schema:
          type: string
          example: "1"
      responses:
        '200':
          description: Lista dethe agents delthe category
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgentDto'
        '404':
          description: Categoria non trovata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato - scope `agents:read` richiesto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/categories:
    get:
      tags:
        - Categories
      summary: Get all categories
      description: |
        Returns the list of all categories available in the system.
        
        Le categorie sono utilizzate to organize progetti, agenti e job.
      operationId: getAllCategories
      responses:
        '200':
          description: Lista delle categorie
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JobCategoryDto'
        '401':
          description: Non autorizzato - scope `projects:read` richiesto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Categories
      summary: Create a new category
      description: |
        Creates a new category to organize projects, agents and jobs.
      operationId: createCategory
      requestBody:
        required: true
        description: Category data to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobCategoryDto'
      responses:
        '201':
          description: Category created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCategoryDto'
        '400':
          description: Dati non validi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato - scope `projects:write` richiesto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/categories/id/{categoryId}:
    get:
      tags:
        - Categories
      summary: Get a specific category
      description: |
        Returns the details of a category specifica, including l'elenco dethe projects associati.
      operationId: getCategory
      parameters:
      - name: categoryId
        in: path
        required: true
        description: Unique ID delthe category
        schema:
          type: string
          example: "1"
      responses:
        '200':
          description: Dettagli delthe category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCategoryDto'
        '404':
          description: Categoria non trovata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato - scope `projects:read` richiesto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Categories
      summary: Update a category
      description: |
        Updates the data of an existing category.
      operationId: updateCategory
      parameters:
      - name: categoryId
        in: path
        required: true
        description: Unique ID of the category to update
        schema:
          type: string
          example: "1"
      requestBody:
        required: true
        description: Dati aggiornati delthe category
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobCategoryDto'
      responses:
        '200':
          description: Category updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCategoryDto'
        '400':
          description: Dati non validi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Categoria non trovata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato - scope `projects:write` richiesto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Categories
      summary: Delete a category
      description: |
        Deletes a category from the system.
        
        **Attenzione:** Questa operazione è irreversibile. I progetti associati non verranno eliminati.
      operationId: deleteCategory
      parameters:
      - name: categoryId
        in: path
        required: true
        description: Unique ID of the category to delete
        schema:
          type: string
          example: "1"
      responses:
        '200':
          description: Categoria eliminata con successo
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Categoria non trovata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato - scope `projects:delete` richiesto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/categories/{categoryName}:
    get:
      tags:
        - Categories
      summary: Get a category by name
      description: |
        Returns the details of a category searching by name.
      operationId: getCategoryFromName
      parameters:
      - name: categoryName
        in: path
        required: true
        description: Category name
        schema:
          type: string
          example: "my-category"
      responses:
        '200':
          description: Dettagli delthe category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCategoryDto'
        '404':
          description: Categoria non trovata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato - scope `projects:read` richiesto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/categories/test:
    get:
      tags:
        - Categories
        - Test
      summary: Test endpoint for categories
      description: |
        Endpoint di test per verificare la funzionalità of the categorie.
      operationId: test
      responses:
        '200':
          description: Test completato con successo
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/cloud-credentials:
    get:
      tags:
        - Cloud Credentials
      summary: Get all cloud credentials
      description: |
        Returns the list of all cloud credentials configured in the system,
        con supporto per paginazione e filtri per provider.
        
        Le credenziali cloud vengono utilizzate to access servizi esterni come
        AWS, Azure, GCP, ecc. durante l'esecuzione dthe jobs Spark.
      operationId: getAllCloudCredentials
      parameters:
      - name: provider
        in: query
        description: Filter by provider cloud (es. "aws", "azure", "gcp")
        schema:
          type: string
          example: "aws"
      - name: page
        in: query
        description: Numero di pagina (0-based)
        schema:
          type: integer
          format: int32
          default: 0
          example: 0
      - name: pageSize
        in: query
        description: Dimensione della pagina
        schema:
          type: integer
          format: int32
          default: 50
          example: 50
      responses:
        '200':
          description: Lista delthe credentials cloud
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CloudCredential'
        '401':
          description: Non autorizzato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Cloud Credentials
      summary: Create a new cloud credential
      description: |
        Creates a new cloud credential to access external cloud services.
        
        Le credenziali vengono criptate e memorizzate in modo sicuro nel database.
      operationId: createCloudCredential
      requestBody:
        required: true
        description: Cloud credential data to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudCredential'
      responses:
        '201':
          description: Credential created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudCredential'
        '400':
          description: Dati non validi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/cloud-credentials/id/{credentialId}:
    get:
      tags:
        - Cloud Credentials
      summary: Get a specific cloud credential
      description: |
        Returns the details of a specific cloud credential.
        
        **Nota:** Le credenziali sensibili vengono restituite in forma criptata.
      operationId: getCloudCredentialById
      parameters:
      - name: credentialId
        in: path
        required: true
        description: Unique ID della credenziale
        schema:
          type: string
          example: "550e8400-e29b-41d4-a716-446655440000"
      responses:
        '200':
          description: Dettagli della credenziale
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudCredential'
        '404':
          description: Credenziale non trovata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Cloud Credentials
      summary: Update a cloud credential
      description: |
        Updates the data of an existing cloud credential.
        
        Le nuove credenziali vengono criptate prima di essere salvate.
      operationId: updateCloudCredential
      parameters:
      - name: credentialId
        in: path
        required: true
        description: Unique ID of the credential to update
        schema:
          type: string
          example: "550e8400-e29b-41d4-a716-446655440000"
      requestBody:
        required: true
        description: Dati aggiornati della credenziale
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudCredential'
      responses:
        '200':
          description: Credential updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudCredential'
        '400':
          description: Dati non validi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Credenziale non trovata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Cloud Credentials
      summary: Delete una credenziale cloud
      description: |
        Deletes a cloud credential from the system.
        
        **Attenzione:** Questa operazione è irreversibile. I job che utilizzano questa
        credenziale non potranno più accedere ai servizi cloud.
      operationId: deleteCloudCredential
      parameters:
      - name: credentialId
        in: path
        required: true
        description: Unique ID of the credential to delete
        schema:
          type: string
          example: "550e8400-e29b-41d4-a716-446655440000"
      responses:
        '200':
          description: Credenziale eliminata con successo
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Credenziale non trovata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/cloud-credentials/provider/{provider}:
    get:
      tags:
        - Cloud Credentials
      summary: Get the credentials cloud per provider
      description: |
        Returns the list of all cloud credentials configured for a specific provider.
      operationId: getCloudCredentialsByProvider
      parameters:
      - name: provider
        in: path
        required: true
        description: Provider name cloud (es. "aws", "azure", "gcp")
        schema:
          type: string
          example: "aws"
      responses:
        '200':
          description: Lista delthe credentials for the provider
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CloudCredential'
        '404':
          description: Provider non trovato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/datasets:
    get:
      tags:
        - Datasets
      summary: Get all datasets
      description: |
        Returns the list of all datasets available in the system, with support for filters.
        
        Datasets can be filtered by type, format and status di indicizzazione.
      operationId: getAllDatasets_1
      parameters:
      - name: type
        in: query
        description: Filter by dataset type
        schema:
          type: string
          example: "parquet"
      - name: indexed
        in: query
        description: Filter by status di indicizzazione (true/false)
        schema:
          type: string
          example: "true"
      - name: format
        in: query
        description: Filter by format (parquet, csv, json, ecc.)
        schema:
          type: string
          example: "parquet"
      responses:
        '200':
          description: Lista dei dataset
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DatasetDto'
        '401':
          description: Non autorizzato - scope `datasets:read` richiesto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Datasets
      summary: Create a new dataset
      description: |
        Creates a new dataset in the system with the specified configurations.
        
        The dataset can be associated with un progetto e utilizzato come input o output per job ETL.
      operationId: createDataset
      requestBody:
        required: true
        description: Dataset data to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetDto'
      responses:
        '201':
          description: Dataset created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetDto'
        '400':
          description: Dati non validi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato - scope `datasets:write` richiesto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/datasets/{datasetId}:
    get:
      tags:
        - Datasets
      summary: Get un dataset specifico
      description: |
        Returns the details of a specific dataset, including information on schema, format and path.
      operationId: getDataset_1
      parameters:
      - name: datasetId
        in: path
        required: true
        description: Unique ID del dataset
        schema:
          type: string
          example: "123"
      responses:
        '200':
          description: Dettagli del dataset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetDto'
        '404':
          description: Dataset non trovato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato - scope `datasets:read` richiesto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Datasets
      summary: Update un dataset
      description: |
        Updates the data of an existing dataset, including configurations and metadata.
      operationId: updateDataset
      parameters:
      - name: datasetId
        in: path
        required: true
        description: Unique ID of the dataset to update
        schema:
          type: string
          example: "123"
      requestBody:
        required: true
        description: Dati aggiornati del dataset
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetDto'
      responses:
        '200':
          description: Dataset updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetDto'
        '400':
          description: Dati non validi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Dataset non trovato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato - scope `datasets:write` richiesto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Datasets
      summary: Delete un dataset
      description: |
        Deletes a dataset from the system.
        
        **Attenzione:** Questa operazione è irreversibile. I job che utilizzano questo dataset
        come input o output potrebbero non funzionare correttamente.
      operationId: deleteDataset_1
      parameters:
      - name: datasetId
        in: path
        required: true
        description: Unique ID of the dataset to delete
        schema:
          type: string
          example: "123"
      responses:
        '200':
          description: Dataset eliminato con successo
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Dataset non trovato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato - scope `datasets:delete` richiesto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/datasets/query:
    post:
      tags:
        - Datasets
        - Query
      summary: Executes a query SQL su un dataset
      description: |
        Executes a query SQL (Presto/Trino) su un dataset per recuperare o analizzare the data.
        
        The query is executed on the MinIO catalog and can use all SQL features supported by Trino.
      operationId: executeQuery
      requestBody:
        required: true
        description: Query SQL da eseguire
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrestoQueryRequest'
      responses:
        '200':
          description: Query results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
        '400':
          description: Query non valida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/datasets/query/task/{taskId}/info:
    get:
      tags:
        - Datasets
        - Query
        - Tasks
      summary: Get information about the dataset associated with a task
      description: |
        Returns information about the output dataset associated with a specific task.
      operationId: getDatasetInfoByTask
      parameters:
      - name: taskId
        in: path
        required: true
        description: Unique ID del task
        schema:
          type: string
          example: "123"
      responses:
        '200':
          description: Dataset information
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Task o dataset non trovato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/datasets/query/columns:
    get:
      tags:
        - Datasets
        - Query
      summary: Get columns of a table
      description: |
        Returns the list of columns and their types of a table in the Trino catalog.
      operationId: getTableColumns
      parameters:
      - name: catalog
        in: query
        description: "Catalog name (default: minio)"
        schema:
          type: string
          default: minio
          example: "minio"
      - name: schema
        in: query
        description: "Schema name (default: default)"
        schema:
          type: string
          default: default
          example: "default"
      - name: table
        in: query
        required: true
        description: Table name
        schema:
          type: string
          example: "my_table"
      responses:
        '200':
          description: Lista delle colonne
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    type:
                      type: string
        '404':
          description: Tabella non trovata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/datasets/query/tables:
    get:
      tags:
        - Datasets
        - Query
      summary: List all available tables
      description: |
        Returns the list of all tables available in a specific catalog and schema.
      operationId: listTables
      parameters:
      - name: catalog
        in: query
        description: "Catalog name (default: minio)"
        schema:
          type: string
          default: minio
          example: "minio"
      - name: schema
        in: query
        description: "Schema name (default: default)"
        schema:
          type: string
          default: default
          example: "default"
      responses:
        '200':
          description: Lista delle tabelle
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '401':
          description: Non autorizzato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/datasets/query/task/{taskId}:
    post:
      tags:
        - Datasets
        - Query
        - Tasks
      summary: Executes an SQL query on the output dataset of a task
      description: |
        Executes a SQL query on the output dataset associated with a specific task.
        
        Useful for analyzing the results of a task after its execution.
      operationId: queryDatasetByTask
      parameters:
      - name: taskId
        in: path
        required: true
        description: Unique ID del task
        schema:
          type: string
          example: "123"
      requestBody:
        required: true
        description: Query SQL da eseguire
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrestoQueryRequest'
      responses:
        '200':
          description: Query results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
        '400':
          description: Query non valida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Task o dataset non trovato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/admin/etl-library-versions:
    get:
      tags:
        - Admin
        - ETL Library
      summary: Get all ETL library versions
      description: |
        Returns the list of all ETL library versions available in the system,
        con supporto per filtri by build type and status attivo.
      operationId: getAllVersions
      parameters:
      - name: buildType
        in: query
        description: Filter by build type (es. "development", "production")
        schema:
          type: string
          example: "development"
      - name: activeOnly
        in: query
        description: Restituisce solo le versioni attive
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Lista delle versioni ETL
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EtlLibraryVersionApiDto'
        '401':
          description: Non autorizzato - scope `admin:read` richiesto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Admin
        - ETL Library
      summary: Create or update an ETL library version
      description: |
        Creates a new versione of the libreria ETL o aggiorna una versione esistente.
        
        Le versioni ETL vengono utilizzate per eseguire job Spark con versioni specifiche della libreria.
      operationId: createOrUpdateVersion
      requestBody:
        required: true
        description: ETL version data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EtlLibraryVersionApiDto'
      responses:
        '200':
          description: Version created or updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EtlLibraryVersionApiDto'
        '201':
          description: Version created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EtlLibraryVersionApiDto'
        '400':
          description: Dati non validi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato - scope `admin:write` richiesto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/admin/etl-library-versions/id/{id}:
    get:
      tags:
        - Admin
        - ETL Library
      summary: Get una versione ETL specifica
      description: |
        Returns the details of a version of the library ETL identified by the ID.
      operationId: getVersionById
      parameters:
      - name: id
        in: path
        required: true
        description: Unique ID della versione
        schema:
          type: integer
          format: int64
          example: 1
      responses:
        '200':
          description: Dettagli della versione ETL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EtlLibraryVersionApiDto'
        '404':
          description: Versione non trovata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato - scope `admin:read` richiesto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Admin
        - ETL Library
      summary: Update una versione ETL
      description: |
        Aggiorna the data of a version of the library ETL esistente.
      operationId: updateVersion
      parameters:
      - name: id
        in: path
        required: true
        description: Unique ID of the version to update
        schema:
          type: integer
          format: int64
          example: 1
      requestBody:
        required: true
        description: Dati aggiornati della versione
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EtlLibraryVersionApiDto'
      responses:
        '200':
          description: Versione aggiornata con successo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EtlLibraryVersionApiDto'
        '400':
          description: Dati non validi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Versione non trovata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato - scope `admin:write` richiesto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Admin
        - ETL Library
      summary: Delete una versione ETL
      description: |
        Deletes an ETL library version from the system.
        
        **Attenzione:** Questa operazione è irreversibile. I job che utilizzano questa versione
        potrebbero non funzionare correttamente.
      operationId: deleteVersion
      parameters:
      - name: id
        in: path
        required: true
        description: Unique ID of the version to delete
        schema:
          type: integer
          format: int64
          example: 1
      responses:
        '200':
          description: Versione eliminata con successo
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Versione non trovata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato - scope `admin:delete` richiesto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/admin/etl-library-versions/build-type/{buildType}/build-number/{buildNumber}:
    get:
      tags:
        - Admin
        - ETL Library
      summary: Get una versione ETL per tipo e numero di build
      description: |
        Returns the details of a version of the library ETL identified by build type
        e numero di build.
      operationId: getVersionByBuildTypeAndBuildNumber
      parameters:
      - name: buildType
        in: path
        required: true
        description: Tipo di build (es. "development", "production")
        schema:
          type: string
          example: "development"
      - name: buildNumber
        in: path
        required: true
        description: Numero di build
        schema:
          type: integer
          format: int32
          example: 123
      responses:
        '200':
          description: Dettagli della versione ETL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EtlLibraryVersionApiDto'
        '404':
          description: Versione non trovata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato - scope `admin:read` richiesto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/package/download:
    get:
      tags:
        - Package
      summary: Get URL for package download
      description: |
        Returns un URL temporaneo per scaricare un package dthe projects e configurazioni.
      operationId: getUrlDownload
      responses:
        '200':
          description: URL di download
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                    description: Temporary URL for download
        '401':
          description: Non autorizzato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/package/upload:
    get:
      tags:
        - Package
      summary: Get URL for package upload
      description: |
        Returns un URL temporaneo per caricare un package dthe projects e configurazioni.
      operationId: getUrlUpload
      responses:
        '200':
          description: URL di upload
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                    description: Temporary URL for upload
        '401':
          description: Non autorizzato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/package/export/all:
    get:
      tags:
        - Package
      summary: Start export of all projects
      description: |
        Starts the export process for all projects and system configurations
        in a compressed package.
      operationId: start_export_All
      responses:
        '200':
          description: Export started successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  exportId:
                    type: string
                    description: ID dell'operazione di export
        '401':
          description: Non autorizzato - scope `package:export` richiesto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/package/export/id/{projectId}:
    get:
      tags:
        - Package
      summary: Start export of a specific project
      description: |
        Starts the export process for a specific project and its configurations
        in a compressed package.
      operationId: start_export_project
      parameters:
      - name: projectId
        in: path
        required: true
        description: Unique ID del progetto da esportare
        schema:
          type: string
          example: "98"
      responses:
        '200':
          description: Export started successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  exportId:
                    type: string
                    description: ID dell'operazione di export
        '404':
          description: Progetto non trovato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato - scope `package:export` richiesto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/package/import/all:
    get:
      tags:
        - Package
      summary: Start import of all projects
      description: |
        Starts the import process of all projects and configurations from a compressed package.
        
        **Attenzione:** Questa operazione può sovrascrivere progetti esistenti.
      operationId: start_import_All
      responses:
        '200':
          description: Import started successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  importId:
                    type: string
                    description: ID dell'operazione di import
        '401':
          description: Non autorizzato - scope `package:import` richiesto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/package/import/id/{projectId}:
    get:
      tags:
        - Package
      summary: Start import of a specific project
      description: |
        Starts the import process of a specific project and its configurations from a package compresso.
        
        **Attenzione:** Questa operazione può sovrascrivere il progetto esistente se presente.
      operationId: start_import_project
      parameters:
      - name: projectId
        in: path
        required: true
        description: Unique ID del progetto da importare
        schema:
          type: string
          example: "98"
      responses:
        '200':
          description: Import started successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  importId:
                    type: string
                    description: ID dell'operazione di import
        '404':
          description: Progetto non trovato nel package
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato - scope `package:import` richiesto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/admin/plugins/{pluginId}/disable:
    post:
      tags:
        - Admin
        - Plugins
      summary: Disable a plugin
      description: |
        Disable a plugin in the system for a specific build type.
        
        I plugin disabilitati non will be available for l'uso nethe jobs.
      operationId: disablePlugin
      parameters:
      - name: pluginId
        in: path
        required: true
        description: Unique ID del plugin
        schema:
          type: string
          example: "ean-image-sourcing"
      - name: buildType
        in: query
        description: "Tipo di build (default: development)"
        schema:
          type: string
          default: development
          example: "development"
      responses:
        '200':
          description: Plugin disabilitato con successo
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Plugin non trovato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato - scope `admin:write` richiesto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/admin/plugins/{pluginId}/enable:
    post:
      tags:
        - Admin
        - Plugins
      summary: Enable a plugin
      description: |
        Enable a plugin in the system for a specific build type.
        
        I plugin abilitati will be available for l'uso nethe jobs.
      operationId: enablePlugin
      parameters:
      - name: pluginId
        in: path
        required: true
        description: Unique ID del plugin
        schema:
          type: string
          example: "ean-image-sourcing"
      - name: buildType
        in: query
        description: "Tipo di build (default: development)"
        schema:
          type: string
          default: development
          example: "development"
      responses:
        '200':
          description: Plugin abilitato con successo
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Plugin non trovato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato - scope `admin:write` richiesto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/admin/plugins:
    get:
      tags:
        - Admin
        - Plugins
      summary: List all plugins
      description: |
        Returns the list of all plugins available in the system, filtered by build type.
      operationId: listPlugins
      parameters:
      - name: buildType
        in: query
        description: "Tipo di build (default: development)"
        schema:
          type: string
          default: development
          example: "development"
      responses:
        '200':
          description: Lista dethe plugins
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '401':
          description: Non autorizzato - scope `admin:read` richiesto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/admin/plugins/upload:
    post:
      tags:
        - Admin
        - Plugins
      summary: Upload a new plugin
      description: |
        Uploads a new plugin to the system as a JAR file.
        
        Il plugin can be associated with one or more organizations e to a specific build type.
      operationId: uploadPlugin
      requestBody:
        required: true
        description: File del plugin e metadati
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - pluginId
              properties:
                file:
                  $ref: '#/components/schemas/FormDataContentDisposition'
                  description: File JAR del plugin
                pluginId:
                  type: string
                  description: Unique ID del plugin
                  example: "my-plugin"
                buildType:
                  type: string
                  description: "Tipo di build (default: development)"
                  default: development
                  example: "development"
                buildNumber:
                  type: integer
                  format: int32
                  description: Numero di build del plugin
                  example: 1
                organizationIds:
                  type: string
                  description: Lista di ID organizzazioni separate da virgola
                  example: "1,2,3"
      responses:
        '201':
          description: Plugin caricato con successo
          content:
            application/json:
              schema:
                type: object
        '400':
          description: File o dati non validi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato - scope `admin:write` richiesto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webrobot/api/admin/plugin-installations/{id}:
    get:
      tags:
        - Admin
        - Plugins
      summary: Get un'installazione plugin specifica
      description: |
        Returns the details of a plugin installation identified by the ID.
      operationId: getInstallationById
      parameters:
      - name: id
        in: path
        required: true
        description: Unique ID dell'installazione
        schema:
          type: integer
          format: int64
          example: 1
      responses:
        '200':
          description: Dettagli dell'installazione plugin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PluginInstallation'
        '404':
          description: Installazione non trovata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Non autorizzato - scope `admin:read` richiesto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Admin
        - Plugins
      summary: Update un'installazione plugin
      description: |
        Aggiorna the data of an existing plugin installation, including configurations and metadata.
      operationId: updateInstallation
      parameters:
      - name: id
        in: path
        required: true
        description: Unique ID of the installation to update
        schema:
          type: integer
          format: int64
          example: 1
      requestBody:
        required: true
        description: Dati aggiornati dell'installazione
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PluginInstallation'
      responses:
        '200':
          description: Installazione aggiornata con successo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PluginInstallation'
        '400':
          description: Dati non validi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Installazione non trovata
          content:
[...]
